@using CityApp.Utils.Helpers
@using CityApp.Models.DTO.Vehicle
@model CityApp.Models.DTO.Vehicle.VehicleFindDTO
@{
   Layout = "~/Views/Shared/Main/_Main.cshtml";
}

<form name="record" id="record">
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/Template/FindMode/Button.cshtml")

    <br />
    <div class="card shadow-sm">
        <div class="card-header merienda"> Find Vehicle </div>
        @Html.HiddenFor(m => m.orderBy, new { Value = nameof(VehicleViewDTO.vehicleName) })
        @Html.HiddenFor(m => m.orderDirection, new { Value = ConstantHelper.ASC })
        <!-- card body -->
        <div class="card-body">
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.vehicleCode)
                        @Html.TextBoxFor(m => m.vehicleCode, new { @class = "form-control", placeholder = "Vehicle ID", @maxlength = "100" })
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.plateNumber)
                        @Html.TextBoxFor(m => m.plateNumber, new { @class = "form-control", placeholder = "Plate Number", @maxlength = "100" })
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.driverName)
                        @Html.TextBoxFor(m => m.driverName, new { @class = "form-control", placeholder = "Driver Name", @maxlength = "100" })
                    </div>
                </div>

            </div>
        </div>
        <!--end  card body -->
    </div>

    <br />
    @Html.Partial("~/Views/Shared/Template/FindMode/TableData.cshtml")
    <br />

</form>

<script src="~/Content/js/function/template/findmode/button.js"></script>
<script>
    const controller = "@ConstantHelper.VEHICLE_CONTROLLER";
</script>

