@using CityApp.Utils.Helpers
@using CityApp.Models.DTO.Vehicle
@using CityApp.Models.DTO.Driver
@model CityApp.Models.DTO.GetListDTO<CityApp.Models.DTO.Vehicle.VehicleViewDTO>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="text-center">
            <th scope="col" width="65px">#</th>
            <th scope="col"> <a href="#" id="sort_@nameof(VehicleViewDTO.vehicleCode)" class="sort-data" onclick='javascript:sort("@nameof(VehicleViewDTO.vehicleCode)", $(this))'> Vehicle ID </a>  </th>
            <th scope="col"> <a href="#" id="sort_@nameof(VehicleViewDTO.vehicleName)" class="sort-data" onclick='javascript:sort("@nameof(VehicleViewDTO.vehicleName)", $(this))'> Vehicle Name </a>  </th>
            <th scope="col"> <a href="#" id="sort_@nameof(DriverViewDTO.driverName)" class="sort-data" onclick='javascript:sort("@nameof(DriverViewDTO.driverCode)", $(this))'> Driver ID </a>  </th>
            <th scope="col"> <a href="#" id="sort_@nameof(DriverViewDTO.driverName)" class="sort-data" onclick='javascript:sort("@nameof(DriverViewDTO.driverName)", $(this))'> Driver Name </a>  </th>
            <th scope="col"> <a href="#" id="sort_@nameof(VehicleViewDTO.plateNumber)" class="sort-data" onclick='javascript:sort("@nameof(VehicleViewDTO.plateNumber)")'> Plate Number </a>  </th>
            <th scope="col"> <a href="#" id="sort_@nameof(VehicleViewDTO.chassis)" class="sort-data" onclick='javascript:sort("@nameof(VehicleViewDTO.chassis)")'> Chassis </a>  </th>
            <th scope="col"> <a href="#" id="sort_@nameof(VehicleViewDTO.engineNumber)" class="sort-data" onclick='javascript:sort("@nameof(VehicleViewDTO.engineNumber)")'> Engine Number </a>  </th>

        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model.items)
            {
                <tr>
                    <th scope="row" class="text-center"> @(Model.metaData.startRow + i) </th>
                    <td class="align-middle"> <a href="@ConstantHelper.VEHICLE_CONTROLLER/view/@item.id"> @item.vehicleCode </a> </td>
                    <td> @item.vehicleName </td>
                    <td> <a href="@ConstantHelper.DRIVER_CONTROLLER/view/@item.driver.id"> @item.driver.driverCode </a> </td>
                    <td> @item.driver.driverName </td>
                    <td> @item.plateNumber </td>
                    <td> @item.chassis </td>
                    <td> @item.engineNumber </td>
                </tr>
                i++;
            }
        }

        @Html.Partial("~/Views/Shared/Pagination.cshtml", Model.metaData)


