@using CityApp.Utils.Helpers
@model CityApp.Models.DTO.Driver.DriverViewDTO

@{ 
    var isDiable = "";
    var isSummary = "";

    if(Model != null)
    {
        if (Model.mode == ConstantHelper.MODE_VIEW)
        {
            isDiable = "disabled";
            isSummary = "summary";
        }
    }
}

<form id="record" name="record">
    <fieldset @isDiable class=@isSummary>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.id)
        <div class="card shadow-sm">
            <div class="card-header merienda"> Driver </div>

            <!-- card body -->
            <div class="card-body">

                <!--row 1-->
                <div class="row">

                    <div class="col-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.driverCode)
                            @Html.TextBoxFor(m => m.driverCode, new { @class = "form-control", placeholder = "Driver ID", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.driverName)
                            @Html.TextBoxFor(m => m.driverName, new { @class = "form-control required", placeholder = "Driver Name", @maxlength = "100" })
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.PhoneNumber)
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control required", placeholder = "Phone Number", @maxlength = "100" })
                        </div>
                    </div>

                </div>
                <!--end  row 1-->
                <!--row 2-->
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.email)
                            @Html.TextBoxFor(m => m.email, new { @class = "form-control required", placeholder = "E-mail", @maxlength = "100" })
                        </div>
                    </div>
                </div>
                <!--end  row 2-->
            </div>
            <!-- end card body -->
        </div>

    </fieldset>
</form>

