@using CityApp.Models.DTO.Driver
@model CityApp.Models.DTO.GetListDTO<CityApp.Models.DTO.Driver.DriverViewDTO>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="text-center">
            <th scope="col" width="65px">#</th>
            <th scope="col"> <a href="#" id="sort_@nameof(DriverViewDTO.code)" class="sort-data" onclick='javascript:sort("@nameof(DriverViewDTO.code)", $(this))'> Driver ID </a>  </th>
            <th scope="col"> <a href="#" id="sort_@nameof(DriverViewDTO.name)" class="sort-data" onclick='javascript:sort("@nameof(DriverViewDTO.name)", $(this))'> Name </a>  </th>
            <th scope="col"> <a href="#" id="sort_@nameof(DriverViewDTO.PhoneNumber)" class="sort-data" onclick='javascript:sort("@nameof(DriverViewDTO.PhoneNumber)")'> Phone Number </a>  </th>
            <th scope="col"> <a href="#" id="sort_@nameof(DriverViewDTO.email)" class="sort-data" onclick='javascript:sort("@nameof(DriverViewDTO.email)")'> E-mail </a>  </th>
            
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model.items)
            {
                <tr>
                    <th scope="row" class="text-center"> @(Model.metaData.startRow + i) </th>
                    <td class="align-middle"> <a href=" @Url.Content("~/Driver/view/")@item.id"> @item.code </a> </td>
                    <td> @item.name </td>
                    <td> @item.PhoneNumber </td>
                    <td> @item.email </td>
                </tr>
                i++;
            }
        }

        @Html.Partial("~/Views/Shared/Pagination.cshtml", Model.metaData)

        
