@using CityApp.Utils.Helpers
@using CityApp.Models.DTO.RatingDriver
@model CityApp.Models.DTO.RatingDriver.RatingDriverFindDTO
@{
    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

@Html.Partial("~/Views/Customer/Tabs.cshtml")

<form name="record" id="record">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.orderBy, new { Value = nameof(RatingDriverViewDTO.driver.driverName) })
    @Html.HiddenFor(m => m.orderDirection, new { Value = ConstantHelper.ASC })

    @Html.HiddenFor(m => m.currentPage, new { Value = 1 })
    @Html.HiddenFor(m => m.customerID, new { Value = @Url.RequestContext.RouteData.Values["id"] })
</form>

@Html.Partial("~/Views/Shared/Template/FindMode/TableData.cshtml")

<script src="~/Content/js/function/template/findmode/button.js"></script>
<script>
    const id =" @Url.RequestContext.RouteData.Values["id"]";
    const controller = "@ConstantHelper.RATING_DRIVER_CONTROLLER";

    $(document).ready(() => {
        $("#ratingDriverTab").contents().unwrap();
        find();
    });
</script>








